.text{
  font-weight: bold;
  margin-left: 50px;
  font-size: 30px;
  height: 60px;
  position: relative;
  bottom: 45px;
  font-family: 'Mulish';
  color: #462E6A;
}

.logo_s{
	position: absolute;
	left: 15px;
	top: 15px;
}

.logo_up{
	position: absolute;
	left: 25px;
	top: 15px
}

.logo_down{
	position: absolute;
	left: 15px;
	top: 33px;
}

.logo_up_1{
	position: absolute;
	left: 10px;
	top: 15px;
}

a{
  text-decoration: none;
  font-family: 'Mulish';
  font-size: 14px;
  text-align: center;
}

.about{
	position: absolute;
	left: 1400px;
	top: 20px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;
}

.testimonials{
	position: absolute;
	left: 1280px;
	top: 20px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;	
}

.apps{
	position: absolute;
	left: 1210px;
	top: 20px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;	
}

.find-a-doctor{
	position: absolute;
	left: 1080px;
	top: 20px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;		
}

.home{
	position: absolute;
	left: 1000px;
	top: 20px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;		
}

.computer-doc{
	margin-left: 720px;
	margin-top: 150px;
}

.text1{
	font-family: 'Mulish';
	position: absolute;
	bottom: 400px;
	left: 100px;
	color: #3C567B;
	font-size: 48px;
}

.text1_1{
	font-family: 'Mulish';
	position: absolute;
	color: #93C1F9;
	left: 100px;
	font-size: 19px;
	bottom: 300px;
}

.footer-bg {
	height: 416px;
	background: linear-gradient(183.41deg, #6888C8 -8.57%, #5A98F2 82.96%);
}

body{
  margin: 0;
  padding: 0;
}

.text2{
	margin-left: 530px;
	margin-top: 200px;
	color: #462E6A;
	font-size: 45px;
	font-family: 'Mulish';
}

.text2_2{
	text-align: center;
	font-family: 'Mulish';
	color: #CCD2E9;
	font-size: 19px;
}


.button{
	margin-left: 180px;
}

.button_text{
}

.white_block{
	display: flex;
}

.white{
	position: absolute;
	width: 350px;
	height: 354px;
	left: 240px;
	top: 1259px;
	text-align: center;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	margin-top: 200px;

	background: #FFFFFF;

	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
}

.white1{
	position: absolute;
	width: 350px;
	height: 354px;
	left: 1010px;
	top: 1259px;
	margin-top: 200px;

	background: #FFFFFF;

	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
}

.white0{
	position: absolute;
	left: 17.44%;
	right: 65.94%;
	top: 25.25%;
	bottom: 73.32%;

	font-family: 'Mulish';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
/* or 175% */


	color: #7D7987;

	mix-blend-mode: normal;
}

.white2{
	position: absolute;
	width: 350px;
	height: 354px;
	left: 624px;
	top: 1259px;
	margin-top: 200px;

	background: #FFFFFF;

	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
}

.white_block1{
	top: 50px;
	display: flex;
}

.white_block_text{
	margin-left: 250px;
}

.platform{
	margin-left: 700px;

	background: #000000;
	border-radius: 5px;
}
